<ul class=filter>
    <li><a href="/list">Alles</a></li>
    <li><a href="/negentien">19+</a></li>
    <li><a href="/cats">Houd van katten</a></li>
    <li><a href="/vrouw">Vrouwen</a></li>
    <li><a href="/man">Mannen</a></li>
    <li><a href="/reload"><span class="fas fa-sync-alt"></span></a>
  </ul>