<!-- Code van Rick -->

<header>
    <nav>
        <img src="img/logo.png" alt="link">
        <ul>
            <li><a href="/list">Discover</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/me">Profile</a></li>
        </ul>
    </nav>
</header>