<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Gegevens</title>
</head>

<body id="aanmelden">

    <form action="registrating" id="registration" method="POST">
        <h1>Registreren</h1>

        <label for="voornaam">Voornaam</label>
        <input type="text" required name='voornaam' placeholder='B.v Rob'>
        <br>
        <label for="achternaam ">Achternaam</label>
        <input type="text" required name='achternaam' placeholder="B.v de Vries ">
        <br>
        <label for="geboortedatum ">Geboortedatum</label>
        <input type="date" required name="geboortedatum">
        <br>
        <label for='hobby'>Hobby's</label>
        <input type="text" required name="hobby" placeholder="B.v dansen, tekenen">
        <br>
        <label for="email">Email</label>
        <input type="email" required name="email" minlength="6 " maxlength="60 " placeholder="B.v naam@hotmail.com ">
        <br>
        <label for='wachtwoord'>Wachtwoord</label>
        <input type="password" required name="wachtwoord" minlength="8 " placeholder="Minimaal 8 tekens ">
        <br>

        <input type="submit" class="submit" value="Registreren">
    </form>

</body>

</html>
