<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Gegevens</title>
</head>

<body id="aanmelden">

    <form action="aanmelden" id="registration" enctype="multipart/form-data" method="POST">
        <h1 class="register">Registreren</h1>

        <label for="voornaam">Voornaam</label>
        <input type="text" name='voornaam' id="voornaam" placeholder='John' required>
        <br>
        <label for="achternaam ">Achternaam</label>
        <input type="text" name='achternaam' id="achternaam" placeholder='Konings' required>
        <br>
        <label for="geboortedatum ">Geboortedatum</label>
        <input type="date" name="geboortedatum" id='datum' required>
        <br>
        <label for='hobby'>Hobby's</label>
        <input type="text" name="hobby" placeholder="B.v dansen, tekenen" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id='email' minlength="6 " maxlength="60 " placeholder="naam@hotmail.com " required>
        <br>
        <label for='wachtwoord'>Wachtwoord</label>
        <input type="password" id='password' name="wachtwoord" minlength="8 " placeholder="Minimaal 8 tekens " required>
        <br>
        <label>Voeg afbeelding toe:</label>
            <label for="file"><img id="afbeelding-toevoegen" src="/img/afbeelding.png"
                    alt="profiel foto"></label>
            <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                style="display: none;">
                <br>

        <input type="submit" class="submit" value="Registreren">
        <a id="al-een-account" href="/inloggen">Klik hier als je al een account hebt</a>
    </form>

</body>

</html>
