<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Gegevens</title>
</head>

<body>
    <main class="main">
        <img src="img/logo.png" alt="logo" id="logo">

        <p id="welkomstekst">Helaas is het niet gelukt om in te loggen, het wachtwoord matcht niet met het emailadres. Probeer het nog eens! </p>

        <a href="/inloggen"><button class="home" type="button">Login</button></a>
        <p id='tekst-link'>Heb je nog geen account? <a id="link" href="/aanmelden">Registreer</a></p>
    
    </main>
</body>

</html>