<!-- Code van Max & Susanne-->

<link rel="stylesheet" href="/css/style.css" type="text/css">


<div>

  <form action="/users/register" method="POST" enctype="multipart/form-data">
    <h1 class="register">Registreren</h1>
    <!--  include('./partials/messages');  -->

    <label for="name">Naam</label>
    <input type="name" id="name" name="name" placeholder="Naam" value="<%= typeof name != 'undefined' ? name : '' %>"
      required />


    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email"
      value="<%= typeof email != 'undefined' ? email : '' %>" required />


    <label for="password">Wachtwoord</label>
    <input type="password" id="password" name="password" placeholder="Wachtwoord"
      value="<%= typeof password != 'undefined' ? password : '' %>" required />


    <label for='geslacht'>Ik ben een:</label>

    <div class="geslacht">
      <input type="radio" id="Man" name="gender" value="Man">
      <label for="Man">Man</label><br>

      <input type="radio" id="Vrouw" name="gender" value="Vrouw">
      <label for="Vrouw">Vrouw</label><br>

      <input type="radio" id="Anders" name="gender" value="Anders">
      <label for="Anders">Anders</label><br>
    </div>


    <label for="date">Leeftijd</label>
    <input type="date" id="date" name="date" value="<%= typeof date != 'undefined' ? date : '' %>" required>

    <label for='geslacht'>Wat zoek je:</label>

    <div class="geslacht">
      <input type="radio" id="man" name="search" value="man">
      <label for="man">Man</label><br>

      <input type="radio" id="vrouw" name="search" value="vrouw">
      <label for="vrouw">Vrouw</label><br>

      <input type="radio" id="beide" name="search" value="beide">
      <label for="beide">Beide</label><br>
    </div>

    <label for='hobby'>Wat zijn je hobby's:</label>
    <input name="hobby" id='hobby' type="text" placeholder="Hobby's" required>

    <label>Voeg afbeelding toe:</label>

    <label for="file"><img id="afbeelding-toevoegen" src="/img/profielfoto.png"
            alt="profiel foto"></label>
    <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
        style="display: none;">

    <button type="submit" class="submit">Registeren</button>
    <a id="al-een-account" href="/users/login">Klik hier als je al een account hebt</a>
  </form>


</div>

<!-- register pagina-->