<!-- Code van Max & Susanne -->

<link rel="stylesheet" href="/css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <main class="main">
      <img src="img/logo.png" alt="link" id="logo">
      <p id="welkomstekst">Als je op 'Registreren' klikt, ga je akkoord met onze voorwaarden. Link is een datingapp om snel en makkelijk een nieuwe date te vinden. </p>

      <a href="/users/register"><button class="home" type="button">Registreer</button></a>
      <a href="/users/login"><button class="home" type="button">Login</button></a>
    </main>


    <!-- eerste pagina -->