<!-- Code van Max -->

<link rel="stylesheet" href="/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <main class="main">
      <img src="img/logo.png" alt="link" id="logo">
      <p id="welkomstekst">Als je op 'Meld je nu aan!' klikt, ga je akkoord met onze voorwaarden. Match4me is een datingapp om snel en makkelijk een nieuwe date te vinden. </p>

      <a href="/users/register"><button class="home" type="button">Registreer</button></a>
      <a href="/users/login"><button class="home" type="button">Login</button></a>
    </main>


    <!-- eerste pagina -->