<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Gegevens</title>
</head>

<body>
    <main class="main">
        <img src="img/logo.png" alt="logo" id="logo">

        <p id="welkomstekst">Als je op 'Registreer' klikt, ga je akkoord met onze voorwaarden. Link is een datingapp om snel en makkelijk een nieuwe date te vinden. </p>

        <a href="registration"><button class="home" type="button">Registreer</button></a>
        <a href="/login"><button class="home" type="button">Login</button></a>
    
    </main>
</body>

</html>